@model Gaditas.Models.PlanoAlunoViewModel

@{
    ViewData["Title"] = "Editar Plano do Aluno";
}

<h1>Editar Plano do Aluno</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ID_ALUNO" class="control-label"></label>
                <input asp-for="ID_ALUNO" class="form-control" />
                <span asp-validation-for="ID_ALUNO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_PLANO" class="control-label"></label>
                <input asp-for="ID_PLANO" class="form-control" />
                <span asp-validation-for="ID_PLANO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DT_INICIO" class="control-label"></label>
                <input asp-for="DT_INICIO" class="form-control" />
                <span asp-validation-for="DT_INICIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DT_CADASTRO" class="control-label"></label>
                <input asp-for="DT_CADASTRO" class="form-control" />
                <span asp-validation-for="DT_CADASTRO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DT_ATUALIZACAO" class="control-label"></label>
                <input asp-for="DT_ATUALIZACAO" class="form-control" />
                <span asp-validation-for="DT_ATUALIZACAO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



